
.div {
    display: block;
}

.top-container {
    background-color: #E9D9FE;
    position: relative;
    padding-top: 100px;
}

.text-title {
    text-align: center;
}

.flower-img {
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

@media (max-width:600px) {
    .flower-img {
        width: 500px;
    }
}

h1 {
    color: #C193FF; 
    margin: 50px;
    font-family: "Sacramento", cursive;
    font-size: 5.2rem;
}

h2 {
    color: #C193FF;
    margin-bottom: 50px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 2.1rem;
}

.middle-container {
    margin: 50px;
}

.profile {
    margin-bottom: 100px;
}

.aram-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 40%;
    border-radius: 50%;
    border: 4px solid #C193FF;
}

.h2-intro {
    text-align: center;
}

.p-intro {
    font-family: "Rubik", sans-serif;
    font-size: 1.21rem;
    text-align: center;
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
}

hr {
    border: solid #C193FF .5px;
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.resume-container {
    margin: 100px;
    justify-content: center;

}

.h2-resume {
    font-size: 2.1rem;
    text-align: center;
}

.resume-items {
    display: flex;
    justify-content: center;
}

.education {
    border: #C193FF solid 2px;
    flex: 1;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: block;
}

.h3-edu {
    font-size: 1.4rem;
}

.li-edu {
    text-align: left;
    font-family: "Rubik", sans-serif;
}

.work-experience {
    border: #C193FF solid 2px;
    flex: 1;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: block;
}

.h3-work {
    font-size: 1.4rem;
}

.li-work {
    text-align: left;
    font-family: "Rubik", sans-serif;
}

.skills {
    border: #C193FF solid 2px;
    flex: 1;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: block;
}

.h3-skills {
    font-size: 1.4rem;
}

.li-skills {
    text-align: left;
    font-family: "Rubik", sans-serif;
}

@media (min-width:500px) and (max-width:900px) {
    .resume-items { 
        flex-direction: column;
        height: 100%;
        gap: 20px;
    }
}

.projects-container {
    margin: 100px;
}

.h2-projects {
    text-align: center;
}

.projects-container {
    margin-bottom: 100px;
}

.project-container {
    display: grid;
    grid-template-rows: 1.5fr 1.5fr;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.item {
    background-color: #E9D9FE;
    text-align: center;
    width: auto;
}

.project-img {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

.website {
    grid-row: span 2;
    align-content: center;
}

.h3-project {
    font-size: 1.3rem;
    font-weight: 600;
}

.about-container {
    margin: 100px;
    text-align: center;
}

.h2-abt {
    border: #C193FF solid 2px;
    width: 100%;

}

.abt-intro {
    font-family: "Rubik", sans-serif;
}

.abt-me {
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact-container {
    text-align: center;
    margin: 100px
}

.contact-bttn {
   border: #C193FF solid;
   border-radius: 5%;
   font-family: "Rubik", sans-serif;
   font-weight: 450;
   flex-direction: column;
   flex: 1;
   max-width: fit-content;
   padding: 10px;
   margin: 40px;
   background-color: #E9D9FE;
}